<h3>
    У меня есть мотоцикл Lifan KP-200, это 200 кубов , максимальная скорость 130 км/ч , я его очень люблю , мне он очень нравится. Мы часто с друзьями ездим кататься кудато - это очень раслабляет!
</h3>