<div>
    <ul>
        {{#each navbarList}}
            <li><a href={{link}}>{{title}}</a>
        {{/each}}
        {{!-- <li><a href="/">Home</a></li>
        <li><a href="/user/signup">Register</a></li> --}}
    </ul>
</div>