<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Моя улюблена справа</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/aboutMy">Про меня</a></li>
        <li><a href="/socialLinks">Мои соцсети</a></li>
        <li><a href="/notMysocialLinks">Не мои соцсети</a></li>
        <li><a href="/aboutMyWork">Про мою работу</a></li>
        <li><a href="/aboutMyBike">Про мой мотоцикл</a></li>
      </ul>
    </div>
</nav>